/* layout */
#sidebar {
    width: 48px;
    position: fixed;
    top: 0px;
    left: 0px;
    bottom: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(1em);
    transition: all 0.4s cubic-bezier(0, 1, 0, 1);
    z-index: 2;
}

#sidebar.expanded {
    width: 220px;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 0;
}

#sidebar.expanded #logo-wrapper {
    display: flex;
    justify-content: space-between;
}

#logo-wrapper {
    padding: 6px;
    align-items: center;
}

#logo {
    aspect-ratio: 1/1;
    height: 40px;
    background-image: url(../images/streamhorsetvhorsepath.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border-radius: 6px;
    transition: all 0.2s;
}

#sidebar.expanded #logo {
    aspect-ratio: 150/43;
    background-image: url(../images/streamhorsetvpath.svg);
    background-size: 80%;
}

#logo:hover,
.side-link:hover,
.more-link:hover,
#sidebar-collapse-button:hover {
    background-color: #eee;
}

#link-wrapper {
    font-family: 'Figtree', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 6px;
    font-size: 20px;
    width: 40px;
    transition: all 0.3s;
}

#sidebar.expanded #link-wrapper {
    padding: 12px;
    width: 196px;
}

.side-link {
    padding: 6px;
    border-radius: 6px;
    transition: all 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 28px;
}

#sidebar.expanded .side-link {
    justify-content: unset;
}

#sidebar.expanded #more-link-wrapper {
    opacity: 1;
}

#more-link-wrapper {
    font-family: 'Figtree', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 12px;
    display: flex;
    flex-wrap: wrap;
    width: 196px;
    overflow: hidden;
    transition: all 0.3s;
    opacity: 0;
}

.more-link {
    display: flex;
    align-items: center;
    padding: 6px;
    border-radius: 6px;
    font-size: 18px;
    transition: all 0.2s;
    font-weight: 300;
}

.more-link .material-symbols-outlined {
    font-size: 20px;
    font-variation-settings:
        'FILL' 0,
        'wght' 300,
        'GRAD' 0,
        'opsz' 24
}

#index-title-section {
    margin-top: 20px;
    margin-bottom: 20px;
}

#index-title {
    font-family: 'Figtree', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}

#content-section {
    width: calc(100% - 66px);
    margin-left: 50px;
    padding: 6px;
    overflow: hidden;
    transition: all 0.4s cubic-bezier(0, 1, 0, 1);
}

#content-section.shrink {
    width: calc(100% - 238px);
    margin-left: 220px;
    padding-right: 12px;
}

.normal-text {
    font-family: 'Figtree', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
}

.second-text {
    text-align: center;
    font-size: 20px;
}

#sidebar-collapse-button {
    width: 40px;
    height: 40px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.sidebar-collapse {
    opacity: 0.5;
}

#sidebar.expanded #sidebar-collapse-button {
    margin-top: 0;
}

.side-link-label {
    display: none;
}

#sidebar.expanded .side-link-label {
    display: block;
    margin-left: 14px;
}

.index-img {
    width: 100%;
    height: 500px;
    border-radius: 10px;
    background-image: url(../images/rs=w_2046.png);
    background-size: cover;
}

.index-subtitle {
    font-size: 24px;
}

.index-subtitle ul {
    list-style: none;
    padding-left: 0;
    margin-left: 0;
    display: flex;
    flex-wrap: wrap;
}

.index-subtitle ul li {
    display: block;
    padding: 6px;
    padding-left: 12px;
    padding-right: 12px;
    opacity: 0.5;
}

.posts-categ.highlighted {
    opacity: 1;
}

.post-card-example {
    width: calc(100% - 24px);
    height: 100px;
    border-radius: 6px;
    padding: 12px;
    background-image: linear-gradient(rgb(219, 219, 219), white);
    background-size: cover;
    background-position: center;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

#subscribe-popup {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#subscribe {
    width: fit-content;
    padding-left: 10px;
    padding-right: 4px;
    height: 40px;
    border-radius: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    background-color: #fafafa;
    box-shadow: 0 4px 4px hsl(0deg 0% 0% / 0.025),
        0 8px 8px hsl(0deg 0% 0% / 0.025),
        0 16px 16px hsl(0deg 0% 0% / 0.025),
        0 32px 32px hsl(0deg 0% 0% / 0.025);
}

#subscribe-input-section {
    display: flex;
    margin-left: 30px;
}

#subscribe-input {
    border: unset;
    border: solid 2px #101010;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

#subscribe button {
    width: 32px;
    height: 32px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    border: none;
    background-color: #101010;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (prefers-color-scheme: dark) {
    #sidebar {
        background-color: transparent;
    }

    #logo:hover,
    .side-link:hover,
    .more-link:hover,
    #sidebar-collapse-button:hover {
        background-color: #333;
    }

    #logo {
        background-image: url(../images/streamhorsetvhorsepathwhite.svg);
    }

    #sidebar.expanded #logo {
        background-image: url(../images/streamhorsetvpathwhite.svg);
    }

    #subscribe {
        background-color: #333;
    }

    #subscribe button {
        background-color: #ffffff;
        color: black;
    }

    #subscribe-input {
        border-color: #444;
    }

    .post-card-example {
        background-image: linear-gradient(rgb(42, 42, 42), transparent);
    }
}

#friends-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.friends-profile-photo {
    width: 180px;
    height: 180px;
    border-radius: 6px;
    background-size: cover;
    margin-bottom: 20px;
}

#friends-pfp-1 {
    background-image: url(https://img1.wsimg.com/isteam/ip/29cab163-a29f-441b-becc-478210f45839/3-2d3ea78.png/:/cr=t:0%25,l:0%25,w:100%25,h:100%25/rs=w:1080,cg:true);
}

#friends-pfp-2 {
    background-image: url(https://img1.wsimg.com/isteam/ip/29cab163-a29f-441b-becc-478210f45839/Tristram%20Hokenson%20%2813%29.png/:/cr=t:0%25,l:0%25,w:100%25,h:100%25/rs=w:1080,cg:true);
}

#friends-pfp-3 {
    background-image: url(https://img1.wsimg.com/isteam/ip/29cab163-a29f-441b-becc-478210f45839/11-7390916.png/:/cr=t:0%25,l:0%25,w:100%25,h:100%25/rs=w:1080,cg:true);
}

#friends-pfp-4 {
    background-image: url(https://img1.wsimg.com/isteam/ip/29cab163-a29f-441b-becc-478210f45839/2-49b5d3d.png/:/cr=t:0%25,l:0%25,w:100%25,h:100%25/rs=w:1080,cg:true);
}

#friends-pfp-5 {
    background-image: url(https://img1.wsimg.com/isteam/ip/29cab163-a29f-441b-becc-478210f45839/71.png/:/cr=t:0%25,l:0%25,w:100%25,h:100%25/rs=w:1080,cg:true);
}

#friends-pfp-6 {
    background-image: url(https://img1.wsimg.com/isteam/ip/29cab163-a29f-441b-becc-478210f45839/1-12f14d3.png/:/cr=t:0%25,l:0%25,w:100%25,h:100%25/rs=w:1080,cg:true);
}

#friends-pfp-7 {
    background-image: url(https://img1.wsimg.com/isteam/ip/29cab163-a29f-441b-becc-478210f45839/10-57642bb.png/:/cr=t:0%25,l:0%25,w:100%25,h:100%25/rs=w:1080,cg:true);
}

#friends-pfp-8 {
    background-image: url(https://img1.wsimg.com/isteam/ip/29cab163-a29f-441b-becc-478210f45839/9-c0788c4.png/:/cr=t:0%25,l:0%25,w:100%25,h:100%25/rs=w:1080,cg:true);
}

#friends-pfp-9 {
    background-image: url(https://img1.wsimg.com/isteam/ip/29cab163-a29f-441b-becc-478210f45839/4-65a1d1a.png/:/cr=t:0%25,l:0%25,w:100%25,h:100%25/rs=w:1080,cg:true);
}

#friends-pfp-10 {
    background-image: url(https://img1.wsimg.com/isteam/ip/29cab163-a29f-441b-becc-478210f45839/53.png/:/cr=t:0%25,l:0%25,w:100%25,h:100%25/rs=w:1080,cg:true);
}

#friends-pfp-11 {
    background-image: url(https://img1.wsimg.com/isteam/ip/29cab163-a29f-441b-becc-478210f45839/Tristram%20Hokenson%20%2812%29.png/:/cr=t:0%25,l:0%25,w:100%25,h:100%25/rs=w:1080,cg:true);
}

#friends-pfp-12 {
    background-image: url(https://img1.wsimg.com/isteam/ip/29cab163-a29f-441b-becc-478210f45839/5-cd75b58.png/:/cr=t:0%25,l:0%25,w:100%25,h:100%25/rs=w:1080,cg:true);
}

#friends-pfp-13 {
    background-image: url(https://img1.wsimg.com/isteam/ip/29cab163-a29f-441b-becc-478210f45839/15-513216c.png/:/cr=t:0%25,l:0%25,w:100%25,h:100%25/rs=w:1080,cg:true);
}

#friends-pfp-14 {
    background-image: url(https://img1.wsimg.com/isteam/ip/29cab163-a29f-441b-becc-478210f45839/33.png/:/cr=t:0%25,l:0%25,w:100%25,h:100%25/rs=w:1080,cg:true);
}

#friends-pfp-15 {
    background-image: url(https://img1.wsimg.com/isteam/ip/29cab163-a29f-441b-becc-478210f45839/18-0dc1ed5.png/:/cr=t:0%25,l:0%25,w:100%25,h:100%25/rs=w:1080,cg:true);
}

#friends-pfp-16 {
    background-image: url(https://img1.wsimg.com/isteam/ip/29cab163-a29f-441b-becc-478210f45839/jennzellerott.png/:/cr=t:0%25,l:0%25,w:100%25,h:100%25/rs=w:1080,cg:true);
}

#friends-pfp-17 {
    background-image: url(https://img1.wsimg.com/isteam/ip/29cab163-a29f-441b-becc-478210f45839/7-b83f8ee.png/:/cr=t:0%25,l:0%25,w:100%25,h:100%25/rs=w:1080,cg:true);
}

.generic-image-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.generic-image {
    width: 50vw;
    aspect-ratio: 16/9;
    background-size: contain;
}

#g-i-1 {
    background-image: url(https://img1.wsimg.com/isteam/ip/29cab163-a29f-441b-becc-478210f45839/Screenshot%202025-08-24%20082449.png/:/cr=t:0%25,l:0.39%25,w:99.22%25,h:99.22%25/rs=w:1023,cg:true,m);
}

.first-text {
    font-weight: bold;
    font-size: 30px;
}

.collection-exhibit-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.collection-exhibit {
    width: calc(50% - 20px);
    margin-bottom: 20px;
    margin-right: 20px;
    overflow: hidden;
}

.collection-exhibit iframe {
    width: 100%;
}

#site-footer {
    margin-left: 56px;
    padding: 6px;
    width: calc(100% - 62px);
}

#site-footer.shrink {
    margin-left: 220px;
    width: calc(100% - 236px);
}

.shop-button {
    width: fit-content;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px;
    background-color: #c8f0ff35;
    border-radius: 6px;
    color: unset;
}

.shop-button .material-symbols-outlined {
    margin-right: 10px;
}

.connect {
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.connect a {
    padding: 6px;
}

.connect svg {
    width: 2em;
}

@media (prefers-color-scheme: dark) {
    .connect svg {
        fill: white;
    }
}

.footer-links {
    height: 4em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.footer-links a {
    text-decoration: none;
    color: unset;
    font-weight: bold;
    padding: 6px;
}