{% extends "page.html" %}

{% block content %}
<div id="content-section">
    <div id="subscribe-popup">
        <div id="subscribe">
            <p class="normal-text">subscribe to us to get real-time updates</p>
            <div id="subscribe-input-section">
                <input type="email" id="subscribe-input">
                <button type="submit"><span class="material-symbols-outlined">arrow_forward</span></button>
            </div>
        </div>
    </div>
    <div class="index-img"></div>
    <div id="index-title-section">
        <div id="index-title">
            welcome to the streamhorse world
        </div>
        <p class="normal-text second-text">
            the coolest content for everyone who loves horses
        </p>
    </div>
    <div class="normal-text index-subtitle">
        <ul id="posts-categ-list">
            <li class="posts-categ" id="highlighted">All Posts</li>
            <li class="posts-categ">Community Conversations</li>
            <li class="posts-categ">Equestrian Lifestyle</li>
            <li class="posts-categ">Equine Business & Finance</li>
            <li class="posts-categ">Horse & Human Wellness</li>
            <li class="posts-categ">Olympics</li>
            <li class="posts-categ">Retiring & Retraining</li>
            <li class="posts-categ">Rider's Lounge</li>
        </ul>
    </div>
    <div class="post-card">
        <div class="post-card-example normal-text">
            Problem: cannot access complete catalog of blogs, this part will be skipped
        </div>
    </div>
</div>

{% endblock %}