{% extends "page.html" %} {% block content %}

<style>
    .empty-box {
        height: 40vh;
    }
</style>

<div class="content-unit">
    <h2 class="text-n">Jerry Li's Projects</h2>
    <h3 class="text-n">Computer Science-Related</h3>
    <p class="text-n">
        If any of the following links isn't working, click
        <a href="https://gitlab.com/jerrylime/manchild">here</a>
        and see if what you're trying to find is listed.
    </p>
    <div id="demo-project-grid">
        <div class="project-thumbnail">
            <div class="project-heading">
                <img class="project-thumbnail-img" src="/static/images/ic_launcher-playstore.png" />
                <p class="text-n project-name">Moosic</p>
            </div>
            <p class="text-n project-description">
                An Android app that recommends songs based on the user's mood using Gemini AI and Spotify Web API.
            </p>
            <p class="text-n project-trailing">
                This is a class project from when I was taking CS 4720: Mobile App Development.
            </p>
            <a class="project-trailing project-links" href="https://github.com/uvaCS4720/final-project-mjs9qs-1">
                <span class="material-symbols-outlined">code</span>
                GitHub repository
            </a>
            <a class="project-trailing project-links"
                href="https://github.com/uvaCS4720/final-project-mjs9qs-1/releases/download/v0.1.1/moosic-v0.1.1.apk">
                <span class="material-symbols-outlined">download</span>
                Get the app on Android
            </a>
        </div>
        <div class="project-thumbnail">
            <div class="project-heading">
                <div class="project-thumbnail-img">
                    <img class="demo-no-app-icon" src="/static/images/pngfind.com-icon-template-png-5088097.jpg" />
                </div>
                <p class="text-n project-name">Real-time college basketball scores</p>
            </div>
            <p class="text-n project-description">
                An Android app that provides real-time college basketball scores.
            </p>
            <p class="text-n project-trailing">
                This is a class project from when I was taking CS 4720: Mobile App Development.
            </p>
            <a class="project-trailing project-links" href="https://github.com/uvaCS4720/hw3-android2-app-jerrylimes">
                <span class="material-symbols-outlined">code</span>
                GitHub repository
            </a>
        </div>
        <div class="project-thumbnail">
            <div class="project-heading">
                <div class="project-thumbnail-img">
                    <span class="material-symbols-outlined">design_services</span>
                </div>
                <p class="text-n project-name">Prototype for MediCamp</p>
            </div>
            <p class="text-n project-description">
                A prototype for an app that provides quick, easy-to-access, and personalized healthcare services to students at University of Virginia.
            </p>
            <p class="text-n project-trailing">
                This is a class project from when I was taking CS 4720: Mobile App Development.
            </p>
            <a class="project-trailing project-links" href="https://www.figma.com/proto/wISSWtKmiMIDT5GFCrUTEw/Sep-16-2025-Prototype?node-id=0-1&t=NG3aPxsaHL0CRrLu-1">
                <span class="material-symbols-outlined">play_circle</span>
                Figma prototype
            </a>
        </div>
        <div class="project-thumbnail">
            <div class="project-heading">
                <div class="project-thumbnail-img">
                    <span class="material-symbols-outlined">ad</span>
                </div>
                <p class="text-n project-name">Website project for StreamHorseTV</p>
            </div>
            <p class="text-n project-description">
                A proposed renovated website for StreamHorseTV
            </p>
            <a class="project-trailing project-links" href="https://github.com/jerrylimes/demo/tree/bfb301d51ebf40c8cceb7218c2a9f92f19795cac">
                <span class="material-symbols-outlined">code</span>
                GitHub repository
            </a>
        </div>
        <div class="project-thumbnail">
            <div class="project-heading">
                <div class="project-thumbnail-img">
                    <span class="material-symbols-outlined">ad</span>
                </div>
                <p class="text-n project-name">Website project for iGEM</p>
            </div>
            <p class="text-n project-description">
                I made the Wiki for my team when I was participating in the International Genetically Engineered Machine (iGEM) competition in 2022.
            </p>
            <a class="project-trailing project-links" href="https://2022.igem.wiki/shsbnu-china/">
                <span class="material-symbols-outlined">code</span>
                Website
            </a>
        </div>
        <div class="project-thumbnail">
            <div class="project-heading">
                <div class="project-thumbnail-img">
                    <span class="material-symbols-outlined">ad</span>
                </div>
                <p class="text-n project-name">Website project for SHSBNU</p>
            </div>
            <p class="text-n project-description">
                I also made a website for when my high school was celebrating its 70th anniversary.
            </p>
            <a class="project-trailing project-links" href="https://jerrylimes.github.io/shsbnu">
                <span class="material-symbols-outlined">code</span>
                Website
            </a>
        </div>
        <div class="project-thumbnail">
            <div class="project-heading">
                <div class="project-thumbnail-img">
                    <span class="material-symbols-outlined">ad</span>
                </div>
                <p class="text-n project-name">Website project for SHSBNU Science Festival</p>
            </div>
            <p class="text-n project-description">
                I also made a website for when my high school was celebrating its 70th anniversary.
            </p>
            <a class="project-trailing project-links" href="https://shsbnu-id.gitlab.io/scifest/">
                <span class="material-symbols-outlined">code</span>
                Website
            </a>
        </div>
    </div>
    <div class="empty-box"></div>
</div>

{% endblock %}